# Python virtual environment
venv/
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Data files is too large.
data/

# Generated embeddings also too large
embeddings/

# API Keys and secrets
.env
*.env

personal.txt

